.title {
	font-size: 1.25rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.0075em;
}
.report-id {
	cursor: pointer;
	color: #007bff !important;
}

.report-id:hover {
	text-shadow: #007bff 0px 0px 1px;
}

